{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_field %}

{% block content %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pezesha</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{%static 'core/style2.css'%}">
  
</head>

<body>
<section class="container" id="view"   >
  <form class="needs-validation" action="{% url 'trial_1' %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Personal or Business KRA Pin (For verification)</label>
        <input type="text" class="form-control" id= "validationCustom01" required>
        <div class="invalid-feedback">
          Please enter KRA Pin
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02"> How much do you need? (KSHS)</label>
        <select type="text" class="form-control" id="validationCustom02" required>
          <option>Less than Kshs 10,000</option>
          <option>Kshs 10,000 - Kshs 50,000</option>
          <option>Kshs 50,001 - Kshs 150,000</option>
          <option>Kshs 150,001 - Kshs 500,000</option>
          <option>Kshs 500,001 - Kshs 1,000,000</option>
        </select>
     
    </div>
    </div>
      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationCustom02"> What will you use the funds for?</label>
          <select type="text" class="form-control" id="validationCustom02" required>
            <option>Inventory/Stock purchase</option>
            <option>Equipment/Machinery</option>
            <option>Cashflow/Working Capital</option>
            <option>Refinancing a loan</option>
            <option>Expansion</option>
            <option>Other</option>
          </select>
       
      </div>
      </div>

      <div class="form-row">

        <div class="col-md-4 mb-3">
          <label for="validationCustom03">In how many months will you pay back the loan?</label>
          <select class="form-control" id="validationCustom03" required>
            <option>2 Months</option>
            <option>3 Months</option>
            <option>6 Months</option>
            <option>9 Months</option>
            <option>12 Months</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom04">  How did you hear about our SME program?</label>
          <select class="form-control" id="validationCustom04" required>
            <option>Google Search</option>
            <option>Facebook</option>
            <option>An SME Pezesha has already funded</option>
            <option>Referred by an employee of Pezesha</option>
            <option>Recommendation from a friend</option>
            <option>I am part of a program that recommended it</option>
            <option>News</option>
            <option>Other</option>
          </select>
      </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>

        
      <div class="form-row">
        <div class="col-md-4 mb-3">
        <button class="btn btn-primary" type="submit">Back</button>
        </div>
        <div class="col-md-4 mb-3">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
      </div>
     
   </form>

</section>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>

</body>
</html>

{% endblock %}
