{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_field %}

{% block content %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pezesha</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{%static 'core/style2.css'%}">
  
</head>

<body>
<section class="container" id="view">
  <form class="needs-validation"   action="{% url 'trial_2' %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    <div id="business" class="tab-pane fade">              
      <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="company_name">Company Name</label>
        <input type="text" class="form-control" id= "company_name" required>
        <div class="invalid-feedback">
          Please enter company name
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="specific_location">Specific Location</label>
        <input type="text" class="form-control" id="specific_location" placeholder="Eg. Nairobi CBD at Telcom Towers" required>
        <div class="invalid-feedback">
          Please enter location of stated company
        </div>
    </div>
    </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="type_of_business">Type of Business Registration?</label>
          <select class="form-control" id="type_of_business" required>
            <option>Sole Propriatorship</option>
            <option>Partnarship</option>
            <option>Limited Liability</option>
            <option>Others</option>
          </select>
          <div class="invalid-feedback">
            Please enter type of business?
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label for="age_of_business"> How old is your business?</label>
          <select class="form-control" id="age_of_business" required>
            <option>Less than 1 Month</option>
            <option>1 - 3 Months</option>
            <option>4 - 6 Months</option>
            <option>7 - 12 Months</option>
            <option>1 - 2 Years</option>
            <option>2+ Years</option>
          </select>
          <div class="invalid-feedback">
            Please enter age of business
          </div>
      </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="bsn_industry"> Industry of Business?</label>
          <select class="form-control" id="bsn_industry" required>
            <option>Manufacturing</option>
            <option>Clothing</option>
            <option>Technology</option>
            <option>Internet</option>
            <option>Engineering/Design</option>
            <option>Retails</option>
            <option>Uknown/Other</option>
            <option>Computers/Electronics</option>
            <option>Agriculture</option>
            <option>Printing</option>
            <option>Insurance</option>
            <option>Education</option>
            <option>Health</option>
            <option>Services</option>
            <option>Fast Moving Consumer Goods</option>
            <option>Restaurant</option>
            <option>Food</option>
            <option>Transport</option>
            <option>Property</option>
            <option>Real Estate</option>
            <option>Wholesale</option>
            <option>Hospitality</option>
          </select>
          <div class="invalid-feedback">
            Please enter industry of business
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label for="company_reg"> Estimated Yearly Revenue? (KES)</label>
          <select class="form-control" id="company_reg" required>
            <option>KES 0 to KES 50,000</option>
            <option>KES 50,000 to KES 100,000</option>
            <option>KES 100,000 to KES 200,000</option>
            <option>KES 200,000 to KES 500,000</option>
            <option>KES 500,000 to KES 1 million</option>
            <option>KES 1 million to KES 2 million</option>
            <option>KES 2 million to KES 5 million</option>
            <option>KES 5 million +</option>
          </select>
          <div class="invalid-feedback">
            Please enter estimated revenue 
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="est_revenue">Company Registration No or Equivalent </label>
          <input type="text" class="form-control" id="est_revenue" required>
          <div class="invalid-feedback">
            Please enter company registration
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label for="comp_site"> Company Website/Social Media (Optional)</label>
          <input type="text"  class = "form-control" id="comp_site" >
         
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="mpesa"> Mpesa\Till No Business Payments Accepted?</label>
          <select class="form-control" id="mpesa" required>
            <option>NO</option>
            <option>YES</option>
          </select>
          <div class="invalid-feedback">
            Please enter Mpesa services
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
        <button class="btn btn-primary btnBack" type="submit">Back</button>
        </div>
        <div class="col-md-4 mb-3">
        <button class="btn btn-primary btnNext" type="submit">Next</button>
      </div>
      </div>
    </div>
   </form>
  </section>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();


  function checkEmpty(selector) {  	
    var isFailed = false;
    var id = $.trim($(selector).val());    
    // Check if empty or not
    if (id === '') {
        alert(selector + ' field is empty.');
        isFailed = true;
    }
    return isFailed;
  }
  
  
  function validate() {  	
    var isFailed = false;

		var listOfRequiredFields = ['#company_name', '#specific_location', '#type_of_business', '#age_of_business', '#bsn_industry', '#company_reg', '#est_revenue', '#comp_site', '#mpesa']; //example it should contain all, ideally you can add a class for all the required elements  and then use it or query all input type elements. This is just for illustration
    
   isFailed =  listOfRequiredFields.some(function(selector, index){
    		if($(selector).closest('.tab-pane ').hasClass('active')) {
        		return checkEmpty(selector)
        }    		
    });	
  	return isFailed;  	
  }
  
   $('.nav-pills a').on('hide.bs.tab', function(e) {
   		if(validate()){
    			e.preventDefault();
    	}
   });
 
   $('.btnNext').click(function(){
   	if(!validate()){
    	 $('.nav-pills > .active').next('li').find('a').trigger('click');
    }
   
  });

  $('.btnBack').click(function(){
  	if(!validate()) {
    	  $('.nav-pills > .active').prev('li').find('a').trigger('click');
    }  
  });
  </script>
</body>
</html>

{% endblock %}
