{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_field %}

{% block content %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pezesha</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{%static 'core/style2.css'%}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.11/js/intlTelInput.min.js" integrity="sha256-679hprK8vxlf4fnVBENMDhjXffz6MSULSiah9G9FRZg=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.11/css/intlTelInput.css" integrity="sha256-rTKxJIIHupH7lFo30458ner8uoSSRYciA0gttCkw1JE=" crossorigin="anonymous" />
  <style>
    .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.11/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.11/img/flags@2x.png");}
}
  </style>
  
</head>



<body>

    <section class="container" id="view">
          <form class="needs-validation" action="{% url 'trial_1' %}" method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
              <div id="personal" class="tab-pane active">
                <div class="form-row">
                  <div class="col-md-8 mb-3">
                    <label for="full_name">Full Name On National ID</label>
                    <input type="text" class="form-control" id="full_name" required>
                    <div class="invalid-feedback">
                      Please enter your full names as in ID
                    </div>
                  </div>
                </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="national_id">National ID Number</label>
                      <input type="number" class="form-control" id="national_id" required>
                      <div class="invalid-feedback">
                        Please enter ID Number correctly
                      </div>
                    </div>
    
                    <div class="col-md-2 mb-3">
                      <label for="phone_number">Phone Number</label>
                        <input type="tel" class="form-control" id="phone_number"  required>
                        <span id="error-msg" class="hide" color="danger" ></span>
                        <span id="valid-msg" class="hide"></span>
                        <script>
                          var input = document.querySelector("#phone_number"),
                              errorMsg = document.querySelector("#error-msg"),
                              validMsg = document.querySelector("#valid-msg");
                          var errorMap = [ "Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
                          var iti = window.intlTelInput(input, {
                            onlyCountries: ["ke"],
                            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js" // just for formatting/placeholders etc
                          });
                          var reset = function() {
                            input.classList.remove("error");
                            errorMsg.innerHTML = "";
                            errorMsg.classList.add("hide");
                            validMsg.classList.add("hide");
                          };
                          input.addEventListener('blur', function() {
                            reset();
                            if (input.value.trim()) {
                              if (iti.isValidNumber()) {
                                validMsg.classList.remove("hide");
                              } else {
                                input.classList.add("error");
                                var errorCode = iti.getValidationError();
                                errorMsg.innerHTML = errorMap[errorCode];
                                errorMsg.classList.remove("hide");
                              }
                            }
                          });
                          input.addEventListener('change', reset);
                          input.addEventListener('keyup', reset);
                        </script>
                        
       
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">
                        Please enter a valid email
                      </div>
                    </div>
                  </div>
                
                  <button class="btn btn-primary btnNext " type="submit">Next</button>
                </div>
  
            
              
             

          </form>

 
        </section>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();


  function checkEmpty(selector) {  	
    var isFailed = false;
    var form = $.trim($(selector).val());    
    // Check if empty or not
    if (form === '') {
        alert('Ensure to complete all the necessary fields');
        isFailed = true;
    }
    return isFailed;
  }
  
  
  function validate() {  	
    var isFailed = false;

		var listOfRequiredFields = [input]; //example it should contain all, ideally you can add a class for all the required elements  and then use it or query all input type elements. This is just for illustration
    
   isFailed =  listOfRequiredFields.some(function(selector, index){
    		if($(selector).closest('.tab-pane ').hasClass('active')) {
        		return checkEmpty(selector)
        }    		
    });	
  	return isFailed;  	
  }
  
   $('.nav-pills a').on('hide.bs.tab', function(e) {
   		if(validate()){
    			e.preventDefault();
    	}
   });
 
   $('.btnNext').click(function(){
   	if(!validate()){
    	 $('.nav-pills > .active').next('li').find('a').trigger('click');
    }
   
  });

  </script>



</body>
</html>

{% endblock %}
