{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_field %}

{% block content %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pezesha</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{%static 'core/style2.css'%}">
  
</head>

<body>

  <form class="needs-validation" action="{% url 'trial_1' %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Company Name</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="invalid-feedback">
          Place enter company name
        </div>
      </div>
    </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Specific Location</label>
          <input type="number" class="form-control" id="validationCustom02" attrs="{'placeholder': 'Eg. Nairobi CBD at Telcom Towers'}" required>
          <div class="invalid-feedback">
            Place enter location of stated company
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <label for="validationCustom03">Type of Business Registration?</label>
          <input type="number" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Place enter type of business?
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationCustom04"> How old is your business?</label>
          <input type="number" class="form-control" id="validationCustom04" required>
          <div class="invalid-feedback">
            Place enter age of business
          </div>
        </div>

        <div class="col-md-8 mb-3">
          <label for="validationCustom05"> Industry of Business?</label>
          <input type="number" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Place enter industry of business
          </div>
        </div>

        <div class="col-md-8 mb-3">
          <label for="validationCustom06"> Company Registration No or Equivalent</label>
          <input type="number" class="form-control" id="validationCustom06" required>
          <div class="invalid-feedback">
            Place enter company registration
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationCustom07"> Estimated Yearly Revenue? (KES)</label>
          <input type="number" class="form-control" id="validationCustom07" required>
          <div class="invalid-feedback">
            Place enter estimated revenue
          </div>
        </div>

        <div class="col-md-8 mb-3">
          <label for="validationCustom08"> Company Website/Social Media (Optional)</label>
          <input type="number"  id="validationCustom08" >
         
        </div>

        <div class="col-md-8 mb-3">
          <label for="validationCustom09"> Mpesa\Till No Business Payments Accepted?</label>
          <input type="number" class="form-control" id="validationCustom09" required>
          <div class="invalid-feedback">
            Place enter Mpesa services
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
</body>
</html>

{% endblock %}
